.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .video-container {
    position: relative;
    width: 100%;
    height: 100%;

    .video {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .control-bar{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65px;
    background-color: #151617;

    
  }

  .progress-container{
    width: 100%;
    padding: 4px;

    .progress-wrapper{
      box-sizing: content-box;
      width: 100%;
      height: 3px;
      padding: 4px 0;
      cursor: pointer;
      background-color: #2F2F31;
      background-clip: content-box;

      .progress-inner{
        width: 0%;
        height: 100%;
        background-color: #60B224;
      }
    }
  }
}
