@font-face {
  font-family: iconfont; /* Project id 4527313 */
  src: url('iconfont.woff2?t=1714473599410') format('woff2'),
       url('iconfont.woff?t=1714473599410') format('woff'),
       url('iconfont.ttf?t=1714473599410') format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file::before {
  content: "\e61b";
}

.icon-triangle-left::before {
  content: "\e709";
}

.icon-lock::before {
  content: "\e676";
}

.icon-unlock::before {
  content: "\e682";
}

.icon-triangle::before {
  content: "\e61a";
}

.icon-minimize::before {
  content: "\e7bf";
}

.icon-maximize::before {
  content: "\e7c0";
}

.icon-window-maximize::before {
  content: "\e669";
}

.icon-pause::before {
  content: "\e723";
}

.icon-folder::before {
  content: "\e61f";
}

.icon-skip-previous::before {
  content: "\e6d3";
}

.icon-skip-next::before {
  content: "\e8aa";
}

.icon-close::before {
  content: "\e7fc";
}

.icon-play::before {
  content: "\e726";
}

.icon-stop::before {
  content: "\e68b";
}

.icon-jingyin::before {
  content: "\e865";
}

.icon-volume-fill::before {
  content: "\e847";
}

