* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: microsoft yahei, helvetica, simhei, simsun, sans-serif;
    font-size: 14px;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.fontsize12 {
    font-size: 12px;
}

.fontsize14 {
    font-size: 14px;
}

.fontsize16 {
    font-size: 16px;
}

.flexrowcenter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ul{
    list-style: none;
}

.router-enter-active, .router-leave-active {
    transition: all 0.5s;
}

.router-enter, .router-leave-to {
    opacity: 0;
}

.flexbetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}

.dplayer-controller,
.dplayer-controller-mask,
.dplayer-mask,
.dplayer-menu,
.dplayer-notice{
    display: none !important;
}

.dplayer-bezel{
    display: none;
}


::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}


.default-hover:hover:not(.currentVideo){
    background-color: #373333;
    color: #5dee00 !important;
}

.theme-hover:hover:not(.currentVideo){
    background-color: #EEF0F1;
    color: #5dee00 !important;
}
.item-theme-hover:hover:not(.currentVideo){
    background-color: rgba(0, 0, 0, .3);
    color: #5dee00 !important;
}

.mt20{
    margin-top: 20px;
}